<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>예약하기</title>
    <link rel="stylesheet" th:href="@{/css/reservation/reservation.css}" />
    <link rel="stylesheet" th:href="@{/css/mainPage.css}" />
    <style>
        input.HanRed {
            border: 1px solid #fc4545;
            box-shadow: 0 0 0 1px #fc4545;

        }

        .HanRedP,
        .HanRedPGender,
        .HanRedPName {
            font-size: 12px;
            display: none;
            color: #fc4545;
        }


        .HanBirthReq.HanRed+.HanRedP,
        .HanPhoneReq.HanRed+.HanRedP,
        .HanPassportNumReq.HanRed+.HanRedP {
            display: block;
        }

        .HanNameDiv.HanRedName input.HanNameReq {
            border: 1px solid #fc4545;
            box-shadow: 0 0 0 1px #fc4545;
        }

        .HanRedName+.HanRedPName {
            display: block;
        }

        .HanRedGender label {
            border: 1px solid #fc4545;
            box-shadow: 0 0 0 1px #fc4545;
            color: #fc4545;
        }

        .HanRedPNameCheck {
            font-size: 12px;
            display: none;
            color: #fc4545;
        }

        .HanCheckBox {
            margin: 10px 0;
            margin-bottom: 7px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

        }

        .HanCheckBox label {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
        }


        .HanCheckBox input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            box-sizing: border-box;
            outline: none;
            border: none;
            padding: 0;
            margin: 0;
            width: 18px;
            height: 18px;
            cursor: pointer;
            background: url(/images/checkBoxOff22.svg) no-repeat center center;
            background-size: 18px 18px;

        }

        .HanCheckBox input:checked {
            background: url(/images/checkBoxOn22.svg) no-repeat center center;
            background-size: 18px 18px;
        }

        .HanCheckBox input.HanRed {
            box-shadow: 0 0 0 2px #fc4545;
            border-radius: 3px;
        }

        .HanCheckBox input.HanRed+span {
            color: #fc4545;
        }
    </style>

</head>

<body>
    <header th:replace="/fragments/memberHeader::memberHeader"></header>

    <form th:action="@{/reservation/submit}" th:method="post" id="HanResvForm">
        <div class="HanResDiv">

            <!-- 예약 정보 -->
            <div class="HanResCard" style="margin-top: 40px;">
                <div class="section-title">
                    <img th:src="@{/images/ticket2.svg}" width="20px">
                    <span>예약하기</span>
                </div>

                <div class="trip-title">
                    <img th:src="@{/images/pick1.jpg}" width="50px" height="50px" class="HanPrdImg">
                    <span th:text="${resvPageDto.packageEntity.packageName}">[출발확정] 오사카 3박 4일 </span>

                </div>

                <div class="HanInfoGroup">

                    <div class="HanDateDiv">

                        <p class="info-label">출발일</p>
                        <p class="info-value" th:text="${resvPageDto.tripStartString}">25.05.01(목)</p>

                    </div>

                    <div class="highlight">3박 4일</div>

                    <div class="HanDateDiv">
                        <p class="info-label">도착일</p>
                        <p class="info-value" th:text="${resvPageDto.tripEndString}">25.05.04(일)</p>
                    </div>


                </div>

                <div class="airline-info">

                    <div class="HanFlex1" style="margin-bottom: 10px;">

                        <p>항공정보 : </p>

                        <div>
                            <!--출국 비행기-->
                            <p th:text="${resvPageDto.packageSchedule.packageScheduleDetails.airlineOut.name}"
                                style="font-weight: bold;">
                                제주항공</p>
                            <p>
                                [[${resvPageDto.packageSchedule.packageScheduleDetails.departurePointOut.name}]] →
                                [[${resvPageDto.packageSchedule.packageScheduleDetails.arrivalPointOut.name}]]
                            </p>
                            <!--귀국 비행기-->
                            <p th:text="${resvPageDto.packageSchedule.packageScheduleDetails.airlineReturn.name}"
                                style="font-weight: bold; margin-top: 8px;">에어부산</p>
                            <p>[[${resvPageDto.packageSchedule.packageScheduleDetails.departurePointReturn.name}]] →
                                [[${resvPageDto.packageSchedule.packageScheduleDetails.arrivalPointReturn.name}]]</p>
                        </div>

                    </div>

                    <div class="HanFlex1">

                        <p>항공출발 : </p>
                        <!--                <p >25.05.01(목) 09:35 ｜ 항공편 7C1403</p>-->
                        <p>[[${resvPageDto.tripStartString}]]
                            [[${resvPageDto.packageSchedule.packageScheduleDetails.departureTimeOut}]] ｜ 항공편
                            [[${resvPageDto.packageSchedule.packageScheduleDetails.flightNumberOut}]]</p>
                    </div>

                    <div class="HanFlex1">

                        <p>항공도착 : </p>
                        <!--                <p>25.05.04(일) 13:30 ｜ 항공편 7C1404</p>-->
                        <p>[[${resvPageDto.tripEndString}]]
                            [[${resvPageDto.packageSchedule.packageScheduleDetails.arrivalTimeReturn}]] ｜ 항공편
                            [[${resvPageDto.packageSchedule.packageScheduleDetails.flightNumberReturn}]]</p>
                    </div>

                </div>


            </div>

            <!-- 예약자 정보 -->

            <div class="HanResCard">
                <div class="section-title">

                    <img th:src="@{/images/people.svg}" width="20px">
                    <span>예약자 정보</span>

                </div>

                <div class="HanInfoGroup2">

                    <div class="HanFlex1" th:if="${resvPageDto.gender}">
                        <p class="HanLight">이름 : </p>
                        <p class="HanBold">[[${resvPageDto.memberResponseDto.name}]] </p>
                    </div>

                    <div class="HanFlex1" th:unless="${resvPageDto.gender}">
                        <p class="HanLight">이름 : </p>
                        <p class="HanBold">[[${resvPageDto.memberResponseDto.name}]]</p>
                    </div>

                    <div class="HanFlex1" th:if="${resvPageDto.birth}">
                        <p class="HanLight">생년월일 : </p>
                        <p class="HanBold" th:text="${resvPageDto.birth}">1991.01.01</p>
           
                    </div>

                    <div class="HanFlex1" th:if="${resvPageDto.phoneNum}">
                        <p class="HanLight">휴대폰번호 : </p>
                        <p class="HanBold" th:text="${resvPageDto.phoneNum}">010-1111-2222</p>
                    </div>

                </div>

            </div>

            <!-- 여행자 정보 입력 -->

            <div class="HanResCard">

                <div class="section-title" style="margin-bottom: -5px;">

                    <img th:src="@{/images/peopleMany.svg}" width="24px" style="margin-top: 1px;">
                    <span>여행자 정보</span>

                </div>

                <div class="HanTripHr"></div>

                <!--성인 입력칸-->

                <div th:each="i : ${#numbers.sequence(0, resvPageDto.packResvDto.adultCnt -1)}"
                    th:if="${resvPageDto.packResvDto.adultCnt > 0}">

                    <hr class="HanHr1">

                    <div class="HanTrip">

                        <p class="HanTitleP">성인 [[${i + 1}]]</p>

                        <!-- i == 0일 때만 보여주기 -->
                        <div th:if="${i == 0}" class="HanCheckBox">
                            <label>
                                <input type="checkbox" class="sameAsReserverCheckbox" data-index="0"
                                    th:name="adult[__${i}__].resCheck" value="true" />
                                <span style="margin-bottom:2px">예약자 동일</span>
                            </label>
                        </div>


                        <div class="HanNameDiv">

                            <input type="hidden" th:name="adult[__${i}__].ageGroup" value="ADULT" />

                            <div>
                                <p>이름</p>
                                <input class="HanNameReq" type="text" placeholder="이름을 입력해주세요" style="width: 500px;"
                                    maxlength="15" th:name="adult[__${i}__].name" />
                            </div>

                            <div class="HanGenderRadio">

                                <input type="radio" th:name="adult[__${i}__].gender" th:id="'Amale' + ${i}"
                                    value="true">
                                <label th:for="'Amale' +${i}">남</label>

                                <input type="radio" th:name="adult[__${i}__].gender" th:id="'Afemale' + ${i}"
                                    value="false">
                                <label th:for="'Afemale' + ${i}" class="HanInputRight">여</label>

                            </div>

                        </div>
                        <p class="HanRedPName">이름을 입력해주세요</p>
                        <p class="HanRedPGender">성별을 입력해주세요</p>
                        <p class="HanRedPNameCheck">이름을 한글로 입력해주세요</p>



                        <p>생년월일</p>
                        <input type="text" class="HanBirthReq" placeholder="생년월일을 입력해주세요(19990101)" maxlength="8"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" th:name="adult[__${i}__].birth" />
                        <p class="HanRedP">생년월일을 정확히 입력해주세요(형식:19910101)</p>

                        <p>휴대폰번호</p>
                        <input type="text" class="HanPhoneReq" placeholder="휴대폰번호를 입력해주세요" maxlength="11"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" th:name="adult[__${i}__].phone" />

                        <p class="HanRedP">휴대폰 번호를 정확히 입력해주세요</p>

                        <p>여권번호</p>
                        <input type="text" class="HanPassportNumReq" placeholder="여권번호를 입력해주세요" maxlength="9"
                            th:name="adult[__${i}__].passportNum" />

                        <p class="HanRedP">여권번호를 정확히 입력해주세요</p>


                    </div>

                </div>

                <!--아동 입력칸-->

                <div th:each="i : ${#numbers.sequence(0, resvPageDto.packResvDto.childCnt - 1)}"
                    th:if="${resvPageDto.packResvDto.childCnt > 0}">

                    <hr class="HanHr1">

                    <div class="HanTrip">

                        <p class="HanTitleP">아동 [[${i + 1}]]</p>

                        <div class="HanNameDiv">

                            <input type="hidden" th:name="child[__${i}__].ageGroup" value="CHILD" />

                            <div>
                                <p>이름</p>
                                <input type="text" class="HanNameReq" placeholder="이름을 입력해주세요" style="width: 500px;"
                                    maxlength="15" th:name="child[__${i}__].name" />
                            </div>



                            <div class="HanGenderRadio">

                                <input type="radio" th:name="child[__${i}__].gender" th:id="'Cmale' + ${i}"
                                    value="true">
                                <label th:for="'Cmale' + ${i}">남</label>

                                <input type="radio" th:name="child[__${i}__].gender" th:id="'Cfemale' + ${i}"
                                    value="false">
                                <label th:for="'Cfemale' + ${i}" class="HanInputRight">여</label>
                            </div>


                        </div>

                        <p class="HanRedPName">이름을 입력해주세요</p>
                        <p class="HanRedPGender">성별을 입력해주세요</p>
                        <p class="HanRedPNameCheck">이름을 한글로 입력해주세요</p>


                        <p>생년월일</p>
                        <input type="text" class="HanBirthReq" placeholder="생년월일을 입력해주세요(19990101)" maxlength="8"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" th:name="child[__${i}__].birth" />
                        <p class="HanRedP">생년월일을 정확히 입력해주세요(형식:19910101)</p>

                        <p>휴대폰번호</p>
                        <input type="text" class="HanPhoneReq" placeholder="휴대폰번호를 입력해주세요" maxlength="11"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" th:name="child[__${i}__].phone" />
                        <p class="HanRedP">휴대폰 번호를 정확히 입력해주세요</p>

                        <p>여권번호</p>
                        <input type="text" class="HanPassportNumReq" placeholder="여권번호를 입력해주세요" maxlength="9"
                            th:name="child[__${i}__].passportNum" />

                        <p class="HanRedP">여권번호를 정확히 입력해주세요</p>


                    </div>

                </div>

                <!--유아 입력칸-->

                <div th:each="i : ${#numbers.sequence(0, resvPageDto.packResvDto.babyCnt - 1)}"
                    th:if="${resvPageDto.packResvDto.babyCnt > 0}">

                    <hr class="HanHr1">

                    <div class="HanTrip">

                        <p class="HanTitleP">유아 [[${i + 1}]]</p>

                        <div class="HanNameDiv">

                            <input type="hidden" th:name="baby[__${i}__].ageGroup" value="INFANT" />

                            <div>
                                <p>이름</p>
                                <input type="text" class="HanNameReq" placeholder="이름을 입력해주세요" style="width: 500px;"
                                    maxlength="15" th:name="baby[__${i}__].name" />
                            </div>

                            <div>

                                <div class="HanGenderRadio">

                                    <input type="radio" th:name="baby[__${i}__].gender" th:id="'Bmale' + ${i}"
                                        value="true">
                                    <label th:for="'Bmale' + ${i}">남</label>

                                    <input type="radio" th:name="baby[__${i}__].gender" th:id="'Bfemale' + ${i}"
                                        value="false">
                                    <label th:for="'Bfemale' + ${i}" class="HanInputRight">여</label>
                                </div>

                            </div>
                        </div>

                        <p class="HanRedPName">이름을 입력해주세요</p>
                        <p class="HanRedPGender">성별을 입력해주세요</p>
                        <p class="HanRedPNameCheck">이름을 한글로 입력해주세요</p>



                        <p>생년월일</p>
                        <input type="text" class="HanBirthReq" placeholder="생년월일을 입력해주세요(19990101)" maxlength="8"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" th:name="baby[__${i}__].birth" />
                        <p class="HanRedP">생년월일을 정확히 입력해주세요(형식:19910101)</p>

                        <p>휴대폰번호</p>
                        <input type="text" class="HanPhoneReq" placeholder="휴대폰번호를 입력해주세요" maxlength="11"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" th:name="baby[__${i}__].phone" />
                        <p class="HanRedP">휴대폰 번호를 정확히 입력해주세요</p>

                        <p>여권번호</p>
                        <input type="text" class="HanPassportNumReq" placeholder="여권번호를 입력해주세요" maxlength="9"
                            th:name="baby[__${i}__].passportNum" />

                        <p class="HanRedP">여권번호를 정확히 입력해주세요</p>

                    </div>

                </div>


            </div>


            <div class="HanResCard">
                <div class="section-title"><img th:src="@{/images/pay1.svg}" width="20px"><span>결제 정보</span></div>

                <div class="HanInfoGroup2">

                    <div class="HanFlex1" th:if="${resvPageDto.adultSumPriceString}">
                        <p class="HanLight">성인 [[${resvPageDto.packResvDto.adultCnt}]]명 :</p>
                        <p class="HanLight" th:text="${resvPageDto.adultSumPriceString}">500,000원</p>
                    </div>

                    <div class="HanFlex1" th:if="${resvPageDto.childSumPriceString}">
                        <p class="HanLight">아동 [[${resvPageDto.packResvDto.childCnt}]]명 : </p>
                        <p class="HanLight" th:text="${resvPageDto.childSumPriceString}">500,000원</p>
                    </div>

                    <div class="HanFlex1" th:if="${resvPageDto.babySumPriceString}">
                        <p class="HanLight">유아 [[${resvPageDto.packResvDto.babyCnt}]]명 : </p>
                        <p class="HanLight" th:text="${resvPageDto.babySumPriceString}">500,000원</p>
                    </div>

                    <hr class="HanHr1">

                    <div class="HanFlex1">
                        <p class="HanBold HanTotal" style="font-size: 18px;">총 결제 금액 : </p>
                        <p class="HanBold HanTotal" style="font-size: 18px;" th:text="${resvPageDto.totalPriceString}">
                            1,000,000원</p>
                    </div>

                </div>
                <div class="HanPayDiv">


                    <p class="HanBold2 HanMargin0">결제수단 :</p>

                    <div class="HanKakaoPay">

                        <img th:src="@{/images/kakaoPay2.svg}" width="100px">
                        <!-- <p>카카오페이</p> -->

                    </div>

                </div>

                <input type="hidden" th:value="${resvPageDto.packResvDto.tripStart}" name="tripStart">
                <input type="hidden" th:value="${resvPageDto.tripEnd}" name="tripEnd">


                <!-- 패키지 pk -->
                <input type="hidden" th:value="${resvPageDto.packResvDto.packagePk}" id="packagePk" name="packagePk">
                <!-- 총 결제 금액 -->
                <input type="hidden" th:value="${resvPageDto.totalPrice}" id="totalPrice">

                <!-- 카카오페이 응답값 hidden inputs -->
                <input type="hidden" id="kakaoAid" name="aid">
                <input type="hidden" id="kakaoTid" name="tid">
                <input type="hidden" id="amount" name="amount">
                <input type="hidden" id="payType" name="payType">
                <input type="hidden" id="approvedAt" name="approvedAt">

                <!-- 카드일 경우 추가 정보 -->
                <input type="hidden" id="purCorp" name="purCorp">
                <input type="hidden" id="purCorpCode" name="purCorpCode">
                <input type="hidden" id="issuerCorp" name="issuerCorp">
                <input type="hidden" id="approved" name="approved">


                <div class="HanPayButtonDiv">
                    <button type="button" onclick="startKakaoPay()">[[${resvPageDto.totalPriceString}]]
                        결제하기
                    </button>

                </div>


            </div>

        </div>


        </div>


    </form>

    <!-- 메인 끝 -->


    <!-- 푸터 시작 -->

    <footer th:replace="/fragments/memberFooter::memberFooter"></footer>

    <!-- 푸터 끝 -->


    <!-- ========================= scroll-top ========================= -->
    <button id="scrollToTopBtn">

    </button>

    <!-- 탑 스크롤 스크립트 -->
    <script th:src="@{/js/scrollTop.js}"></script>

    <!-- 제이쿼리 -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- 결제전 검사하는 함수 -->
    <script>
        function startKakaoPay() {
            const nameInputs = document.querySelectorAll('.HanNameReq');
            const birthInputs = document.querySelectorAll('.HanBirthReq');
            const phoneInputs = document.querySelectorAll('.HanPhoneReq');
            const passportInputs = document.querySelectorAll('.HanPassportNumReq');
            let invalidPassportFields = [];

            //여권번호  검사
            passportInputs.forEach(input => {
                const value = input.value.trim().toUpperCase(); // 대문자 강제 변환
                const regex = /^M\d{3}[A-Z]\d{4}$/;

                if (!regex.test(value)) {
                    input.classList.add('HanRed');
                    invalidPassportFields.push(input);
                } else {
                    input.classList.remove('HanRed');
                }
            });



            let emptyNameFields = [];
            let invalidKoreanFields = [];
            let invalidBirthFields = [];
            let invalidPhoneFields = [];

            // 이름 검사: 한글만, 빈값 체크
            nameInputs.forEach(input => {
                const value = input.value.trim();
                const wrapper = input.closest('.HanNameDiv');

                if (value === '' || !/^[가-힣]+$/.test(value)) {
                    if (wrapper) wrapper.classList.add('HanRedName');
                    if (value === '') {
                        emptyNameFields.push(input);
                    } else {
                        invalidKoreanFields.push(input);
                    }
                } else {
                    if (wrapper) wrapper.classList.remove('HanRedName');
                }
            });

            // 생년월일 검사: 형식이 정확한 날짜(예: 19900101 ~ 20991231)
            birthInputs.forEach(input => {
                const value = input.value.trim();
                if (!/^(19|20)\d{2}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])$/.test(value)) {
                    invalidBirthFields.push(input);
                    input.classList.add('HanRed');
                } else {
                    input.classList.remove('HanRed');
                }
            });

            // 휴대폰 번호 검사: 입력된 경우만 검사, 010~019 시작 + 7~8자리 숫자
            phoneInputs.forEach(input => {
                const value = input.value.trim();
                if (value !== '' && !/^(010|011|016|017|018|019)[0-9]{7,8}$/.test(value)) {
                    invalidPhoneFields.push(input);
                    input.classList.add('HanRed');
                } else {
                    input.classList.remove('HanRed');
                }
            });
            // 예약자 체크박스 검사
            const sameAsCheckbox = document.querySelector('.sameAsReserverCheckbox');
            if (sameAsCheckbox && !sameAsCheckbox.checked) {
                sameAsCheckbox.classList.add('HanRed'); // 빨간 테두리 추가

                Swal.fire({
                    icon: 'warning',
                    title: '예약자 정보가 누락되었습니다.',
                    html: '‘예약자 동일’ 항목을 체크해 주세요. <br>※ 본 사이트는 대리 예약이 불가능하며, 반드시 본인이 예약을 <br>진행해야 합니다.',
                    confirmButtonText: '확인'
                });

                sameAsCheckbox.scrollIntoView({ behavior: 'smooth', block: 'center' });
                return;
            } else if (sameAsCheckbox) {
                sameAsCheckbox.classList.remove('HanRed'); // 체크했으면 제거
            }

            // 성별 라디오 검사
            const genderGroups = new Set();
            document.querySelectorAll('input[type="radio"][name*=".gender"]').forEach((radio) => {
                genderGroups.add(radio.name);
            });

            let uncheckedGenderGroups = [];

            genderGroups.forEach((groupName) => {
                const radios = document.querySelectorAll(`input[name="${CSS.escape(groupName)}"]`);
                const isChecked = Array.from(radios).some(r => r.checked);

                if (radios.length > 0) {
                    const wrapper = radios[0].closest('.HanGenderRadio');
                    const parent = wrapper?.closest('.HanNameDiv');

                    // 해당 성별 그룹 내 p.HanRedPGender 찾기
                    const genderErrorP = parent?.querySelector('.HanRedPGender');

                    if (wrapper) {
                        if (!isChecked) {
                            wrapper.classList.add('HanRedGender');
                            if (genderErrorP) genderErrorP.style.display = 'block';
                            uncheckedGenderGroups.push(groupName);
                        } else {
                            wrapper.classList.remove('HanRedGender');
                            if (genderErrorP) genderErrorP.style.display = 'none';
                        }
                    }
                }
            });


            // 에러 메시지 처리
            let errorMsg = '';
            if (emptyNameFields.length > 0 || invalidKoreanFields.length > 0) {
                errorMsg += '이름은 한글로 입력해주세요.<br>';
            }
            if (invalidBirthFields.length > 0) {
                errorMsg += '생년월일은 숫자 8자리로 입력해주세요.<br>';
            }
            if (invalidPhoneFields.length > 0) {
                errorMsg += '휴대폰 번호는 10~11자리 숫자로 입력해주세요.<br>';
            }
            if (invalidPassportFields.length > 0) {
                errorMsg += '여권번호는 "M123A4567" 형식으로 입력해주세요<br>';
            }
            if (uncheckedGenderGroups.length > 0) {
                errorMsg += '모든 인원의 성별을 선택해주세요.';
            }


            if (errorMsg !== '') {
                Swal.fire({
                    icon: 'warning',
                    title: '입력 오류',
                    html: errorMsg,
                    confirmButtonText: '확인'
                });

                // 포커스 우선순위
                if (emptyNameFields.length > 0) {
                    emptyNameFields[0].focus();
                } else if (invalidKoreanFields.length > 0) {
                    invalidKoreanFields[0].focus();
                } else if (invalidBirthFields.length > 0) {
                    invalidBirthFields[0].focus();
                } else if (invalidPhoneFields.length > 0) {
                    invalidPhoneFields[0].focus();
                } else if (uncheckedGenderGroups.length > 0) {
                    const firstRadio = document.querySelector(`input[name="${uncheckedGenderGroups[0]}"]`);
                    if (firstRadio) firstRadio.scrollIntoView({ behavior: 'smooth', block: 'center' });
                } else if (invalidPhoneFields.length > 0) {
                    invalidPhoneFields[0].focus();
                } else if (invalidPassportFields.length > 0) {
                    invalidPassportFields[0].focus();
                }


                return;
            }

            // 모든 검사 통과 → 카카오페이 요청
            const packagePk = document.getElementById("packagePk").value;
            const totalPrice = document.getElementById("totalPrice").value;
            requestKakaoPay(packagePk, totalPrice);
        }


        function requestKakaoPay(packagePk, totalPrice) {
            $.ajax({
                type: "POST",
                url: "/pay",
                data: {
                    packagePk: packagePk,
                    totalPay: totalPrice // 서버에서 이 이름을 기대하고 있어요!
                },
                success: function (url) {
                    window.open(url, "kakaoPayPopup", "width=500,height=700");
                },
                error: function (xhr, status, error) {
                    alert("결제 요청 실패: " + error);
                }
            });
        }


        // 팝업창으로부터 메시지 수신 → input 채우고 form 제출
        window.addEventListener("message", function (e) {
            if (e.origin !== window.location.origin) return;

            const data = e.data;

            // 필수값이 존재할 때만 진행
            if (data && data.tid) {
                document.getElementById("kakaoAid").value = data.aid;
                document.getElementById("kakaoTid").value = data.tid;
                document.getElementById("amount").value = data.amount;
                document.getElementById("payType").value = data.payType;
                document.getElementById("approvedAt").value = data.approvedAt;

                // 카드 결제일 경우만 세팅 (있으면 넣고, 없으면 빈 문자열로)
                document.getElementById("purCorp").value = data.purCorp || '';
                document.getElementById("purCorpCode").value = data.purCorpCode || '';
                document.getElementById("issuerCorp").value = data.issuerCorp || '';
                document.getElementById("approved").value = data.approved || '';

                // 최종 제출
                document.getElementById("HanResvForm").submit();
            }
        });



    </script>

    <!-- 이름부분 입력할때마다 정규식 검사하는 곳 -->
    <script th:src="@{/js/reservationName.js}"></script>

    <!-- 체크박스 눌렀을때 예약자 정보를 밑에 input에 복사해주는 함수 -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkbox = document.querySelector('.sameAsReserverCheckbox');

            if (checkbox) {
                checkbox.addEventListener('change', function () {
                    const index = this.dataset.index;
                    const nameInput = document.querySelector(`input[name="adult[${index}].name"]`);
                    const birthInput = document.querySelector(`input[name="adult[${index}].birth"]`);
                    const phoneInput = document.querySelector(`input[name="adult[${index}].phone"]`);
                    const passportInput = document.querySelector(`input[name="adult[${index}].passportNum"]`);
                    const maleRadio = document.querySelector(`input[id="Amale${index}"]`);
                    const femaleRadio = document.querySelector(`input[id="Afemale${index}"]`);

                    if (this.checked) {
                        this.classList.remove('HanRed');

                        const name = `[[${resvPageDto.memberResponseDto.name}]]`;
                        const birth = `[[${resvPageDto.memberResponseDto.birth}]]`;
                        const phone = `[[${resvPageDto.phoneNum}]]`;
                        const gender = `[[${resvPageDto.gender}]]`;

                        if (name !== 'null' && nameInput) {
                            nameInput.value = name;
                            nameInput.classList.remove('HanRed');
                            const wrapper = nameInput.closest('.HanNameDiv');
                            wrapper?.classList.remove('HanRedName');
                        }

                        if (birth !== 'null' && birthInput) {
                            birthInput.value = birth.replaceAll('.', '');
                            birthInput.classList.remove('HanRed');
                        }

                        if (phone !== 'null' && phoneInput) {
                            phoneInput.value = phone.replaceAll('-', '');
                            phoneInput.classList.remove('HanRed');
                        }


                    } else {
                        this.classList.add('HanRed');

                        // 체크 해제 시 초기화
                        if (nameInput) nameInput.value = '';
                        if (birthInput) birthInput.value = '';
                        if (phoneInput) phoneInput.value = '';
                        if (passportInput) passportInput.value = '';
                    }
                });
            }
        });



    </script>

    <!-- 입력할때 에러메세지 제거해주는 함수 -->
    <script th:src="@{/js/reservationRemoveErr.js}"></script>





</body>

</html>