<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCloud Workshop</title>
    <link rel="stylesheet" href="css/mainPage.css">

</head>

<body>

    <header th:fragment="memberHeader">

        <!-- 헤더 시작 -->
        <div class="HanHeaderMain">

            <div class="HanHeaderLogo">
                <a th:href="@{/}">
                    <img th:src="@{/images/logoFull300.png}" height="80px">
                </a>
            </div>

            <div class="HanHeaderMid">

                <div class="HanSerachForm">

                    <form action="/product/search/index" method="get" role="search" id="HanSerachForm">

                        <input type="text" id="cardName" th:value="${param.keyword}" name="keyword"
                            onchange="this.form.submit()" placeholder="검색어를 입력해주세요">
                        <button type="submit" form="HanSerachForm"></button>
                        <img th:src="@{/images/nabal4.png}" width="20px">
                    </form>

                </div>


            </div>

            <!-- 로그아웃시 나타나는 헤더 부분 시작 -->

            <div class="HanHeaderButton" th:if="${session.memberId==null}">
                <a th:href="@{/login}">로그인</a>
                <a th:href="@{/terms/agree }">회원가입</a>
            </div>

            <!-- 로그아웃시 나타나는 헤더 부분 끝 -->

            <!-- 로그인시 나타나는 헤더부분 시작-->

            <div class="HanHeaderButton" th:if="${session.memberId!=null}">
                <div class="Handropdown">
                    <div class="HanHeaderButtonDiv">
                        <a class="dropbtn HanHeaderButtonA" onclick="toggleDropdown(event, 'mypageDropdown')">
                            <img th:src="@{/images/user1.svg}" alt="" width="30px" height="auto"
                                class="HanHeaderHover"></a>
                        <p>마이페이지</p>
                    </div>
                    <div class="HanDrodBoxName" id="mypageDropdown">
                        <div class="HanDrodBoxNameBox">

                            <img th:src="@{/images/user1.svg}" alt="">


                            <div class="HanDrodBoxNameDiv" th:if="${headerDto.loginYes}">
                                <div>
                                    <p class="HanHeaderUserName">[[${headerDto.name}]]님</p>
                                </div>
                            </div>
                        </div>
                        <div class="HandropdownBoxLogout">
                            <a href="/logout" id="logoutLink">
                                <img th:src="@{/images/logout.svg}" width="20px" height="auto">로그아웃</a>
                        </div>
                        <div class="HandropdownBox" id="">
                            <a th:href="@{/member/edit}">회원정보 수정</a>
                            <a th:href="@{/member/reservation/list}">예약 내역</a>
                            <a th:href="@{/member/dib}">찜 목록</a>
                            <a th:href="@{/member/review/list}">리뷰 목록</a>
                        </div>
                    </div>
                </div>

                <div class="HanHeaderButtonDiv">
                    <a th:href="@{/member/reservation/list}" class="HanHeaderButtonA"><img
                            th:src="@{/images/ticket.png}" width="33px" height="auto" class="HanHeaderHover"></a>
                    <p>예약내역</p>
                </div>

                <div class="HanHeaderButtonDiv" style="margin-left:-7px">
                    <a th:href="@{/member/dib}" class="HanHeaderButtonA"><img th:src="@{/images/heart.png}" width="32px"
                            height="auto" class="HanHeaderHover"></a>
                    <p>찜</p>

                </div>

            </div>

            <!-- 로그인시 나타나는 헤더부분 끝-->

        </div>

        <hr class="HanHeaderHr" style="border-color: #d7e0e4;" />

        <!-- 네비 시작 -->
        <div class="HanNaviMain">

            <!-- 전체 상품 -->
            <div class="HanNaviBarADiv">
                <form th:action="@{/packages}" method="get" id="allPack">
                    <button type="submit" form="allPack">전체상품</button>
                </form>
            </div>

            <!-- 대륙 반복 -->
            <div class="HanNaviItemWrapper"   th:each="mainList, iterStat : ${headerDto.mainList}">

                <div class="HanNaviBarADiv category-toggle"  th:attr="data-target='dropdown-' + ${iterStat.index}" >
                    <form th:action="@{/packages}" th:method="get" th:id="${mainList.name}">
                        <input type="hidden" name="categoryId" th:value="${mainList.id}">
                        <input type="hidden" name="categoryName" th:value="${mainList.name}">
                        <input type="hidden" name="categoryDepth" th:value="${mainList.depth}">
                        <button type="submit" th:text="${mainList.name}" th:form="${mainList.name}">아시아</button>
                    </form>
                </div>


                <!-- 드롭다운 영역 -->
                <div class="megaDropdown" th:if="${#lists.size(mainList.children) > 0}" th:attr="id='dropdown-' + ${iterStat.index}">
                    <div class="megaDropdownCenter">
                        <div class="megaCol" th:each="children : ${mainList.children}">
                            <form th:action="@{/packages}" th:method="get" th:id="${children.name}">
                                <input type="hidden" name="categoryId" th:value="${children.id}">
                                <input type="hidden" name="categoryName" th:value="${children.name}">
                                <input type="hidden" name="categoryDepth" th:value="${children.depth}">
                                <button type="submit" th:text="${children.name}" th:form="${children.name}" class="HanStrongButton">일본</button>
                            </form>
                            <ul>
                                <li th:each="children2 : ${children.children}">
                                    <form th:action="@{/packages}" th:method="get" th:id="${children2.name}">
                                        <input type="hidden" name="categoryId" th:value="${children2.id}">
                                        <input type="hidden" name="categoryName" th:value="${children2.name}">
                                        <input type="hidden" name="categoryDepth" th:value="${children2.depth}">
                                        <button type="submit" th:text="${children2.name}" th:form="${children2.name}" class="HanLightButton">일본</button>
                                    </form>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>
        <!-- 네비 끝 -->


        <hr class="HanNavHr" />
        <!-- 헤더 끝 -->


        <!-- 네비 끝 -->

        <!-- 헤더 끝 -->

    </header>

</body>


</html>