body {
  margin: 0;
  padding: 0;
}

.HanPackMain {
  padding: 30px 0;
  margin: 0 auto;
  width: 1200px;

}

.HanPackTitleDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;

}

.HanPackInfoDiv {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  width: 560px;
}

.badge {
  background: #4cd964;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;

}

.HanTitleP {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 16px;
}

.HanTitleInfoP {
  font-size: 13px;
  margin: 0;
}

.tags {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.icon-item img {
  width: 30px;
  height: 30px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #d60000;
}

.HanTitlePriceP1 {
  color: black;
  margin-right: 8px;
}

.HanTitlePriceP2 {
  font-size: 15px;
  color: #4e4e4e;
  margin-right: 24px;
  margin-bottom: 4px;

}

.HanButtons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.buttonIcon {
  padding: 10px 15px;
  background: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonIcon.active {
  background: #2cafec;
  color: white;
}

.HanPackPrice {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 35px;

}


.HanPackHr {
  margin: 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid #ccc;

}

.HanPackHr2 {
  margin: 0;
  border: none;
  width: 100%;
  border-bottom: 1px dotted #ccc;

}




.HanPackMidDiv {
  box-sizing: border-box;
  margin-top: 50px;
  border-top: 2px solid black;
  display: flex;
  padding: 20px 10px;
  gap: 40px;
}

.HanPackMidDiv h2 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 19px;

}

.HanDivLeft {
  flex: 2;
}

.HanDivRight {
  min-width: 240px;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  position: sticky;
  top: 20px;
  /* 스크롤할 때 이 위치부터 고정됨 */
  height: fit-content;
  align-self: flex-start;

}

.HanPackDateMain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.HanPackDateMainTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;

}

.HanDivRightP {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 19px;

}

.HanDivRightP2 {
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 19px;

}


.HanP1 {
  color: #555;
  margin: 4px 0;
  font-size: 14px;

}

.HanP2 {
  font-weight: bold;
  margin: 4px 0;
  margin-bottom: 0;
  font-size: 16px;

}






.HanPackPriceInfoMain {
  width: 800px;

  box-sizing: border-box;
  padding: 40px;
  margin-top: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 7px;
  gap: 140px;
  margin-bottom: 60px;
}

.HanPackPriceInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.HanInfoP1 {
  margin: 2px 0;
  font-weight: bold;
  font-size: 23px;
}

.HanInfoP2 {
  margin: 2px 0;
  font-size: 13px;
}

.HanInfoP3 {
  margin: 0;
  margin-top: 6px;
  font-size: 22px;
}

.HanInfoP4 {
  margin: 0;
  margin-top: 2px;
  font-size: 13px;
  color: #5f5f5f;

}

.HanPackContainer {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 5px;
  margin-bottom: 80px;

}


.summary {
  margin-top: 20px;
}

.HanTotalPriceDiv {
  margin-top: 20px;

}

.HanTotalPriceDiv p {
  display: inline-block;

}

.btn-primary {
  background-color: #2cafec;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.total-price {
  display: inline-block;
  font-size: 28px;
  color: #2cafec;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
}

.HanPackTotalPriceInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.total-price-info {

  color: #868686;
  font-size: 12px;
  margin: 0;
  text-align: right;
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.counter-row input {
  width: 40px;
  text-align: center;
}

.HanPackTotalPrice {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.HanPackTotalPriceP1 {
  font-size: 14px;
  padding-bottom: 6px;
  padding-right: 10px;


}





/* 수량버튼 css  시작 */

.HanProductCntDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

}



.HanPackPriceSpinnerDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-bottom: 20px;
}


.HanProductSpinner {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 140px;
  height: 40px;
  margin-top: 7px;
}

.HanProductSpinner button {
  width: 45px;
  height: 40px;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: all 0.5s;
}


.HanProductSpinner button:disabled {
  cursor: not-allowed;
  color: #aaa;
}

.HanProductSpinner button:hover:not(:disabled) {
  background-color: #71d0fc;
}

.HanProductSpinner input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
}


.HanProductPriceSum {
  font-size: 23px;

}

.HanProductSumCnt {
  color: #969696;
  font-size: 14px;
  margin-bottom: 5px;
}

.HanProductPriceSumCnt {
  color: #969696;
  font-size: 22px;
}

/* 수량버튼 css  끝 */


.HanPackDateDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -10px;

}

.HanPackDateP1 {
  color: #969696;
  font-size: 14px;
  margin-right: 10px;
}

.HanPackDateP2 {
  font-size: 20px;

}



/* 캐러셀 css */

.carouselContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 480px;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselSlide {
  min-width: 100%;
  height: 100%;
}

.carouselSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 40%;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.arrow.left {
  left: 10px;
}


.arrow.left:hover {
  transform: translateX(-13px);
}


.arrow.right {
  right: 10px;
}

.arrow.right:hover {

  transform: translateX(13px);
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #7000d8;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
}

.HanCarouselCounter {
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px 10px;
  padding-bottom: 5px;
  font-size: 14px;
  border-radius: 4px;
}


/* 버튼 css */


.HanCkSubmitA {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;

}

.HanCkSubmitA button {
  width: 208px;
  padding: 16px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
  font-weight: bolder;
  text-decoration: none;
}

.HanCkSubmitA .HanCheckoutList {
  background-color: #43bff8;
  color: #ffffff;
}

.HanCkSubmitA .HanCheckoutList:hover {
  background-color: #3e8cf1;
  color: #ebebeb;
  transform: scale(0.98);
}

.HanCkSubmitA a {
  border: 1px solid #ccc;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
  color: #ffffff;
}

.HanCkSubmitA a:hover {
  background-color: #dadada;
  color: #ebebeb;
  transform: scale(0.98);
}



.HanPackImgDiv {
  width: 800px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HanPackImgDiv img {
  width: 800px;
}

.HanPackTripDate {
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.HanPackTripInfo {
  width: 600px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;

}

.HanPackTripTitle {
  margin: 0;
  font-weight: bold;

  width: 150px;

}

.HanPackHanP {
  margin: 0;
  margin-bottom: 5px;

}

.HanPackHanP2 {
  width: 550px;
  font-weight: bold;
  display: flex;
  align-items: center;

  gap: 10px;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 4px;

}

.HanPackHanP2 p {
  margin: 0;
  display: inline-block;
}

.HanPadding {
  padding-right: 10px;
}

.HanPackHanP3 {
  margin: 0;
  margin-bottom: 10px;
}



.HanPackHanPCenter {
  margin: 15px 0;
  text-align: center;

}

.HanPackHanPCenter2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 15px 0;
  margin-bottom: 17px;
}

.HanPackAirline {
  width: 550px;
  background-color: #f9f9f9;
  border-radius: 7px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.leftIcon {
  transform: scaleX(-1);

}