<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<a th:href="@{/reservation}">예약페이지</a>
<a th:href="@{/reservation/Complete}">예약완료페이지</a>
<br>
<a th:href="@{/dib}">찜목록</a>
<a th:href="@{/package/1}">패키지 상세(pk1)</a>
<br>
<a th:href="@{/member/reservation/details/1}">예약상세(pk1)</a>
<br>
<a th:href="@{/member/edit}">회원수정페이지</a>
<a th:href="@{/member/reservation/list}">주문리스트</a>
<a th:href="@{/admin/reservation/list}">관리자주문리스트</a>
<a th:href="@{/member/review/list/able}">회원등록가능리뷰</a>
<a th:href="@{/admin/package/category/new}">카테고리생성</a>


<form th:action="@{/reservation}" th:method="get" id="HanResvForm">
    <p>성인 인원수</p>
    <input type="text" name="adultCnt">
    <p>아동 인원수</p>
    <input type="text" name="childCnt">
    <p>유아 인원수</p>
    <input type="text" name="babyCnt">
    <p>출발일</p>
    <input type="date" name="tripStart">
    <p>패키지 pk</p>
    <input type="text" name="packagePk">
    <p>회원 pk</p>
    <input type="text" name="memberPk">

    <button type="submit" form="HanResvForm">예약하기</button>

</form>

<p th:if="${session.memberId!=null}">로그인 성공</p>


<h2>테스트용 자동 로그인</h2>
<button type="button" onclick="autoLogin()">user1 자동 로그인</button>

<script>
    function autoLogin() {
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = '/login';

      form.innerHTML = `
        <input type="hidden" name="email" value="user1@example.com">
        <input type="hidden" name="password" value="pw123456@">
      `;
      document.body.appendChild(form);
      form.submit();
    }
</script>
</body>
</html>